#form{
   background: #35363A;
   border-radius: 10px;
   align-items: center;
   /* background: #0A0042;
   color: rgb(88, 83, 83);
   top: 52%;
   left: 17%;
   box-sizing: border-box;
   padding: 70px 30px; */
}

